body {
    margin: 0;
    background-color: #fcfcfc;
    font-family: Helvetica;

    clear: both;
}

header {

    background-color: #529e4b;
    color: whitesmoke;
    text-align: center;
    padding:3rem;

    letter-spacing: 1px;
    
}

.data-container {
    padding: 40px;
    overflow: auto;
}

input {
    margin-bottom: 10px;
}

#input-column {
    float: left;
    padding-right: 40px;
}

#submit-column {
    float: left;
}

#submit-button {
    height: 30px;
    width: 70px;
    vertical-align: middle;
}